USE [u_doncer]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 18.03.2022 12:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[customerID] [int] NOT NULL,
	[companyName] [varchar](30) NOT NULL,
	[nip] [varchar](10) NOT NULL,
 CONSTRAINT [Company_pk] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [U_nip] UNIQUE NONCLUSTERED 
(
	[nip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Company_Customer] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customers] ([customerID])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Company_Customer]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [CK_Company] CHECK  ((len([nip])=(10)))
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [CK_Company]
GO
